<div class="container">
  <h3 class="title is-3">Create Song
  </h3>
<form action="/admin/songs" method="POST">
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" type="text" name="title" placeholder="Enter title" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Artist</label>
    <div class="control">
      <input class="input" type="text" name="artist" placeholder="Enter artist">
    </div>
  </div>

  <div class="field">
    <label class="label">Album</label>
    <div class="control">
      <input class="input" type="text" name="album" placeholder="Enter album">
    </div>
  </div>

  <div class="field">
    <label class="label">Release Year</label>
    <div class="control">
      <input class="input" type="text" name="releaseYear" placeholder="Enter release year">
    </div>
  </div>

<button class="button" type="submit">Submit</button>
</form>
</div>